:root {
  --color-primary: hsl(198.43, 100%, 75.1%);
  --color-primary-button: hsl(198.43, 100%, 45.1%);
  --color-primary-border: hsl(198.43, 100%, 65.1%);
  --color-primary-focus: hsl(198.43, 100%, 85.1%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 80.4%);
  --color-danger: hsl(0, 100%, 40.2%);
  --color-backdrop: hsl(0, 0%, 15%, 70%);
}
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
html {
  accent-color: var(--color-primary);
  caret-color: var(--color-primary);

  font-family: "kanit", system-ui;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body {
  inline-size: min(45rem, 100% - 2rem);

  margin-inline: auto;

  background-image: url(./cloud.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
