*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
html {
  font-family: "kanit", system-ui;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body {
  inline-size: min(45rem, 100% - 2rem);

  margin-inline: auto;

  background-image: url(./cloud.jpg);
  background-size: 100vw 20rem;
  background-repeat: no-repeat;
}
