.date-input {
  display: flex;

  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;

  overflow: hidden;

  outline: none;

  background-color: var(--color-white);

  padding: 0.5rem;

  input {
    flex: 1;
    
    border: none;
    outline: none;
  }
}
